@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&suset=cyrillic');
@import url("normalize.css");

body {
    font-family: 'PT Sans', "Arial", sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    text-transform: uppercase;
}

.container {
    width: 1200px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}
a {
    display: block;
    text-decoration: none;
}


.menu-list {
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
}
.menu-item {
    text-transform: uppercase;
    vertical-align: top;
    width: 265px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu-item:nth-child(1) {
    padding-left: 72px;
    text-align: left;
}
.menu-item:nth-child(2) {
    margin-right: 239px;
    text-align: center;
}
.menu-item:nth-child(3) {
    margin-left: 29px;
    text-align: center;
}
.menu-item:nth-child(4) {
    padding-right: 72px;
    text-align: right;
}
.menu-item a {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}


img.promoblock {
    position: absolute;
    top: 0;
    margin-left: 50%;
    left: -70px;
    z-index: 10;

}
.intro-index {
    background: url("../img/mask.png") center bottom no-repeat, url("../img/welcome.png") center center no-repeat, url("../img/background-photo.jpg") center top no-repeat;
    height: 510px;
}
.visually-hidden {
    display: none;
}
.advantages-header {
    text-transform: uppercase;
  
    width: 490px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}
.advantages-title {
    font-weight: bold;
    font-size: 21px;
    width: 500px;
}
.advantages-description {
    margin-top: 30px;
    font-size: 14px;
}
.find-hotel {
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
}
.find-hotel a {
    width: 568px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 30px 0px;
    background-color: #766357;
    text-decoration: none;
    color: #ffffff;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin-top: 48px;
}
.find-hotel-title {
    font-weight: bold;
    font-size: 30px;
}
.find-hotel-description {
    font-size: 14px;
    line-height: 1.8;
    text-align: center;
    width: 500px;
    margin: 0 auto;

}





.hashtag, 
.social-btns,
.copyright {
    display: flex;
    margin: auto;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    width: 33%;
    justify-content: center;

}
.social-btn {
    display: flex;
    width: 40px;
    height: 40px;
    background: #81b3d1;

}
.social-btn:hover {
    background: #669dc0;
}
.social-btn:active {
    background: #5495bd;
}
.social-btn span {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: -9999px;

}
.tw {
    margin-right: 5px;

}
.tw span {
    -webkit-mask: url("../img/t.svg") center center no-repeat;
    mask: url("../img/t.svg") center center no-repeat;
    background: white;
}
.tw:active span {
    background: #88b5d1;

}
.fb {
    margin-right: 5px;

}
.fb span {
    -webkit-mask: url("../img/fb-icon.svg") center center no-repeat;
    mask: url("../img/fb-icon.svg") center center no-repeat;
    background: white;

}
.fb:active span {
    background: #88b5d1;

}
.yt span {
    -webkit-mask: url("../img/youtube.svg") center center no-repeat;
    mask: url("../img/youtube.svg") center center no-repeat;
    background: white;
}
.yt:active span {
    background: #88b5d1;

}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 50px;

}
.copyright {
    align-items: center;
}
.copyright-done {
    font-size: 14px;
    padding-right: 5px;
}
.copyright-link {
    background: #231f1f;
    width: 114px;
    height: 39px;
    overflow: hidden;
    text-indent: -9999px;
    -webkit-mask-image: url("../img/logo-name.svg");
    mask-image: url("../img/logo-name.svg");
}
.copyright-link:hover {
    background: #81b3d1;

}
.copyright-link:active {
    background: #bdbbbb;

}
.catalog-title {
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    align-items: flex-start;
}
.catalog-item {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 17px 0;
    padding-top: 24px;
    justify-content: space-between;

}
.catalog-item-housetype {
    font-size: 14px;
    text-transform: uppercase;
}
.catalog-item-houseprice {
    font-size: 14px;    
    padding-left: 30px;
}
.catalog-item-button {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.catalog-item-rating {
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f1f1f1;    
    padding: 10px 10px;
    margin-bottom: 11px;


}
.catalog-list {
    list-style-type: none;
    padding: 0;
}
.catalog-item-image,
.catalog-item-description,
.catalog-item-score {
    display: flex; 
    vertical-align: top;
}

.catalog-item-image {
    padding-top: 5px;
    padding-left: 70px;
    padding-right: 30px;
}
.catalog-item-description {
    flex-grow: 2;
    flex-direction: column;
}
.catalog-item-score {
    float: right;
    margin-right: 70px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.catalog h3 {
    margin: 0;
    flex-wrap: nowrap;
}

.catalog-item a {
    color: #000000;
    text-decoration: none;
}

a.catalog-item-later,
a.catalog-item-book {
    display: flex;
    flex-wrap: nowrap;
}

.catalog-button {
    display: flex;
    margin-top: 0;

}

a.catalog-item-later {
    background-color: #81b3d2;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 15px;
    justify-content: flex-start;
    margin-right: 5px;

}
a.catalog-item-book {
    background-color: #756357;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 15px;
    justify-content: flex-end;

}
.catalog-item-house {
    margin-top: 9px;
    margin-bottom: 18px;
}
.star {
    background: url("../img/star.png") center center no-repeat;
    width: 18px;
    height: 17px;
    display: flex;
}
.catalog-item-stars {
    display: flex;
    justify-content: flex-end;
}



.modal-form {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 568px;
    padding: 61px 55px 55px;
    background-color: #ffffff;
    font-size: 0px;
    line-height: 26px;
    text-align: left;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
    margin: 0 auto;
}
.modal-form label {
    display: flex;
    align-items: center;   
    box-sizing: border-box;
    text-align: left;
    width: 112px;
    padding: 0;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}
button, 
input {
    overflow: visible;
}
.modal-form input {
    width: 346px;
    border: 2px solid #f1f1f1;
    background-color: #f1f1f1;
    vertical-align: middle;
    box-sizing: border-box;
    text-align: left;
    padding: 10px 0px 10px 13px;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.map span {
    font-size: 21px;
    line-height: 26px;
    color: #c2c2c2;
    vertical-align: top;
}
.map .icon-calendar {
    margin-top: -1px;
    margin-left: -35px;
}

.full-width {
    display: flex;
    margin-bottom: 30px;
}

.grownup,
.children {
    display: flex;
    vertical-align: top;
    box-sizing: border-box;
    width: 229px;
    margin-top: 1px;
    position: relative;
}
.children {
    justify-content: flex-end;
}

.children label {
        width: 65px;
    }

.grownup input,
.children input {
width: 47px;
text-align: center;
box-sizing: border-box;
padding: 7px 0 8px;
margin-bottom: 0px;
}    


.minus,
.plus {
    display: inline-block;
    background: #f1f1f1;
    width: 35px;
    height: 35px;
    vertical-align: top;
    position: relative;
}

.minus span,
.plus span {
    display: inline-block;
    position: absolute;
    left: 12px;
    top: 16px;
    width: 11px;
    height: 3px;
    background: #a9a9a9;
}
.plus span:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 11px;
    position: absolute;
    left: 4px;
    top: -4px;
    background: #a9a9a9;
}
.minus:hover span,
.plus:hover span,
.plus:hover span:after {
    background: #000000;
}
.minus:active span,
.plus:active span,
.plus:active span:after {
    background: #81b3d2;

}
.modal-form button.button {
    background: #81b3d1;
    display: block;
    width: 456px;
    height: 55px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    margin-top: 50px;
}
label.children-label {
    width: 60px;
}
.modal-close {
    display: none;
}



.catalog-item-later:active { 
    background: #5495bd;
    color: #88b5d1;
}
.catalog-item-later:hover { 
    background: #669dc0;
   /* color: transparent; */ 
}

.catalog-item-book:active { 
    background: #503d32;
    color: #857870;
}

.catalog-item-book:hover { 
    background: #604e43;
}

.catalog a:active h3 { 
    color: #b2b2b2;
}
.catalog h3:hover { 
    color: #81b3d2;
    /* color: transparent; */ 
}

.find-hotel a:hover { 
    background: #604e43;
}
.find-hotel a:active {
    background:  #503d32;
    color: #857870;
}


.modal-form input:hover {
    background: #ebebeb;
}
.modal-form input:focus {
    background: #ffffff;
    outline: none;
}
.minus,
.plus {

}
.minus:active,
.plus:active {
    color: #000000;
}
.minus:hover,
.plus:hover {
    color: #81b3d2;
}
.icon-calendar {
    color: #a9a9a9;
}
.icon-calendar:active {
    color: #000000;
}
.icon-calendar:hover {
    color: #81b3d2;
}

.menu-item .menu-link:hover {
    color: #c4dcea;

}
.menu-item .menu-link:active {
    color: #c7c7c7;

}
.menu-item .menu-link-active {
    color: #766357;

}
.modal-form button.button:hover {
    background: #669dc0;

}
.modal-form button.button:active {
    background: #5495bd;
    color: #69a2c5;

}
.icon-calendar {
    display: inline-block;
    width: 35px;
    -webkit-mask: url("../img/calendar.svg") center center no-repeat;
    mask: url("../img/calendar.svg") center center no-repeat;
    background:#c9c9c9;
}
.icon-calendar:hover {
    background: #000000;
}
.icon-calendar:active {
    background: #81b3d1;

}